doctype html
html
    head
        title Home Page
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    style
        include ../css/home.css
body
    include ../partials/header
    
    div#main 
        h1 Home Page
        h3 Movie Management Database 
        h2 Search Movies by Name
        br
        input(type="text" id="searchid" size="40" placeholder="Search...")
        br
        br
        
    div#searchedMovies

    script(src="/client-side.js")
    